.bigStyles {
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.styles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: space between;
    flex-direction: column;
}

.stylesBotones {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.botonesSection {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.createPlayerSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(1, 200px) 150px;
    margin: 20px;
    gap: 20px, 10px;
}

.one {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.two {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.stats {
    grid-row: 2;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.stats input {
    width: 800px;
}
